:root {
	--main-bg-color: #ffffff;
	--light-bg-color: #f6f5e8;
	--dark-bg-color: #132700;
	--main-btn-color: #2c5601;
	--bright-btn-color: #5de372;
	--light-btn-color: #efefee;
	--main-text-color: #2b381f;
	--gray-text-color: #737c6d;
	--light-text-color: #efefec;
	--blue-btn-color: #4184f3;
	--max-width: 1085px;
	--home-padding: 30px 60px;
}

body {
	margin: 0;
	font-family: Manrope, Arial, sans-serif;
	width: 100vw;
	height: 100vh;
}

#root {
	width: 100vw;
	height: 100vh;
}

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

input, textarea {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
  border: none; 
  outline: none; 
	resize: none;
	font-family: inherit;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
}
