input[type='radio'] {
  border-radius: 50%;
  border: 3px solid #FFF;
  box-shadow: 0 0 0 2.5px #ccc;
  transition: 120ms background ease-in-out;
}

input[type='radio']:checked {
  background: var(--main-btn-color);
}

.radio-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}